body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow:hidden;
   
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
    
}

.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    color: white;

}


.main_content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    margin-left: 0.5rem;
    padding: 0 1.5rem 0 1.5rem;
  

}

.music_player{
    background-color: black ;
    position: fixed;
    bottom: 0px;
    width:100%;
    height: 72px;
    padding-bottom:1rem;

    
    
}
a{
    color: white;
    text-decoration: none;
}

.nav{
    background-color:#121212;
    border-radius: 1rem;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.7rem;
}

.nav_option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav_option:hover{
opacity: 1;
}

.nav_option i{
  font-size: 1.25rem;
}

.nav_option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.option{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.libopt img{
    height: 1.25rem;
    width: 1.25rem;
}

.icons{
    font-size: 1.25rem;
  
   display: flex;
}
.icons i{
    opacity:0.7;
    margin-right: 1rem;
}

.icons i:hover{
    opacity: 1;
}

.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}
.box-p1{
    font-size: 1rem;
    
    font-weight: 500;
}

.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge{
    background: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.sticky-nav{
    position: sticky;
    top: 0;
    background: #121212;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
    
}

.sticky-nav-icons img{
    margin-left:0.75rem;
    
}

.sticky-nav-opt{
    display: flex;
    justify-content: center;
    align-items: center;
  

}

.sticky-nav-opt button{
margin-right: 1rem;
}

.nav-bag{
    margin-right: 1rem;
}
.blackbage{
background-color: black;
color: white;
}


.card,.card1{
background-color:#232323 ;
width: 150px;
border-radius: 0.5rem;
padding: 1rem;
margin-top: 20px;
margin-left: 1.5rem;

}

.card,.card1{
    display:inline-block;
   
   
}   
    
.card-img{
    width: 100%;
    border-radius: 0.5rem;

}

.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.75rem;
    opacity: 0.8;
}

.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;}

.line{
    width: 90%;
    height: 40%;
    border-top: 1px solid white;
    opacity: 0.4;
} 

.leftmp{
    width: 20%;
   
    height: 100%;
    display: inline-block;
}
.leftmp img{
    width: 3rem;
    height: 3rem;
    display: inline-block;
    margin: 0.75rem 0.75rem;
    border-radius: 5px;
 
}
.mpp{
    position: absolute;
    
    display: inline-block;
    align-items: center;
    color: white;
}
.mpp1{
    
    margin-top: 1rem;
    display: inline-block;
}
.mpp2{
    display: inline-block;
    opacity: 0.7;
   margin-left: 2rem;
   font-size: 1.5rem;
    }


    .volume {
        position:relative;
        left: 85%;
        bottom:3rem;   
     }

    
 #customRange{
    appearance: none;
    background-color: black;
    width: 150px;
    position:relative;
    right:10px;

 }

 #customRange::-webkit-slider-runnable-track{

    background: #ddd;
    border-radius:100px ;
    height: 0.2rem;
    margin-top: -10px;
  

 }

 #customRange::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background:#1bd760 ;
    margin-top:-6px;
    border-radius: 50%;
    cursor: pointer;
    
 }


 .player{
    width: 50%;
    display: inline-block;
    position: relative;
    left: 27%;
    bottom: 6rem;
 }
 
 .player-control-icon{
    height: 1rem;
    opacity: 0.7;
    padding-right:1.75rem;
    margin-top:1rem;
 }

 
 .player-control-icon:hover{
    opacity: 1;
 }



 .player-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    
    
    
 }


 .playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:0.6rem ;
 }

 #rg{
    appearance: none;
    background-color: black;
    width: 70%;
 }

 #rg::-webkit-slider-runnable-track{

    background: #ddd;
    border-radius:100px ;
    height: 0.2rem;

 }

 #rg::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background:#1bd760 ;
    margin-top:-6px;
    border-radius: 50%;
    cursor: pointer;
 }
 
 #song-name{
       font-weight: 500; 
       font-size: 1rem;
      }

      #play{
         opacity: 1; 
         font-size: 2rem;
         margin-top:0px;
         margin-bottom:0px;
      }
@media screen and (max-width: 600px) {


    .sidebar{
        position: relative;
        left:-500px;
    }

    .main_content{
        position:relative;
       overflow:unset;
       left:-180px;
       height:100%;
       width:400px;
       background: #000;
       
      }
      .sticky-nav{
        background: #000;
        width: 350px;

      }
      #singer-name{
        display:none;
         font-size: 2rem;

      }
      #song-name{
        display:block;
        font-size: 0.9rem;
        position: relative;
        left: -10px;
      }
      .mpp2{
        padding:0;
        position: inherit;
        bottom:-10px;
        left:-27px;
        font-size: 1.1rem;
      }
      .leftmp{
        display: block;
      }
      .mpp1{
        display: block;
      }
      .player-control-icon{
       
         padding: 0px;
         padding-right: 1rem;
        height:0.8rem;
        
        margin-bottom:-2rem;
      }
      #play{
        position: relative;
        font-size: 1.5rem;
        bottom: -20px;

      }

      .music_player{
        background: #121212;
        border-radius: 10px;
        bottom: 20px;
        width:90%;
        height: 4rem;
        padding: 0;
        font-size:small;
        left: 20px;
      }

      .card{
        height: 210px;
        width: 110px;
        font-size: 1rem;
        text-shadow:2px 2px 3px  black;
       
      } 

      .card:hover{
        box-shadow: 1px 1px 5px rgb(3, 144, 43);
        
      }

      .card1{
        height: 250px;
        width: 150px;
        font-size: 1rem;
        text-shadow:2px 2px 3px  black;
        /* box-shadow: 2px 2px 3px rgb(117, 112, 112); */
        margin-bottom:40px;
        
      }
      #customRange{
        transform: rotate(270deg);
        position:relative;
        width: auto;
        bottom: 110px;
        right: 30px;
       display: none;
       
      }
     

      #rg{
        margin-bottom:-50px;
    
      }
      .curr-time{
                margin-bottom:-50px;
      }
      .tot-time{
                margin-bottom:-50px;
      }

      .sticky-nav-icons{
        display:none;
      }

#ok{
background: #4bfa8b;

}
#vol{
    position:relative;
    bottom:-9px;
    right:-20px;
    font-size: 1.1rem;

}
#person{
    margin-left: 15px;
}
#smallpic{
    position: relative;
    height: 40px;
    width: 40px;
    left: -5px;
}
.player{
    position: relative;
    left: 125px;
    margin-top:-6px;
}
body{
    overflow: scroll ;
}
#infect{
   position: relative;
   top:-13px;
}
.card-container{
    color:blue;
    position: relative;
    padding-left:-10px;
    left:-8px;
}
}
